In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'C:/Users/asus/Desktop/Universit√†/High Performance Computing for Data Science/Progetto/instacart-market-basket-analysis/order_products__prior.csv/order_products__prior.csv'

In [3]:
df = pd.read_csv(path).drop(['add_to_cart_order', 'reordered'], 1)

In [4]:
len(df['order_id'].unique())

3214874

In [5]:
len(df['product_id'].unique())

49677

In [6]:
df_final = df.groupby('order_id')['product_id'].apply(list).reset_index().drop(['order_id'], 1)

In [7]:
df_final.head()

                                          product_id
0  [33120, 28985, 9327, 45918, 30035, 17794, 4014...
1  [33754, 24838, 17704, 21903, 17668, 46667, 174...
2  [46842, 26434, 39758, 27761, 10054, 21351, 225...
3  [13176, 15005, 47329, 27966, 23909, 48370, 132...
4                              [40462, 15873, 41897]

In [8]:
# to create txt format for c++
df_final['product_id'] = df_final['product_id'].astype(str).str.replace(',|\[|\]','', regex=True) # remove commas and []

In [9]:
df_final.head()

                                          product_id
0  33120 28985 9327 45918 30035 17794 40141 1819 ...
1    33754 24838 17704 21903 17668 46667 17461 32665
2  46842 26434 39758 27761 10054 21351 22598 3486...
3  13176 15005 47329 27966 23909 48370 13245 9633...
4                                  40462 15873 41897

In [10]:
len(df_final.sample(frac=0.01, random_state=1))

32149

In [11]:
len(df_final.sample(frac=0.05, random_state=1))

160744

In [12]:
len(df_final.sample(frac=0.15, random_state=1))

482231

In [13]:
len(df_final.sample(frac=0.30, random_state=1))

964462

In [14]:
len(df_final.sample(frac=0.50, random_state=1))

1607437

In [15]:
# save as txt
np.savetxt('C:/Users/asus/Desktop/order_products__prior_0.01.txt', df_final.sample(frac=0.01, random_state=1).values, fmt = "%s")

np.savetxt('C:/Users/asus/Desktop/order_products__prior_0.05.txt', df_final.sample(frac=0.05, random_state=1).values, fmt = "%s")

np.savetxt('C:/Users/asus/Desktop/order_products__prior_0.15.txt', df_final.sample(frac=0.15, random_state=1).values, fmt = "%s")

np.savetxt('C:/Users/asus/Desktop/order_products__prior_0.30.txt', df_final.sample(frac=0.30, random_state=1).values, fmt = "%s")

np.savetxt('C:/Users/asus/Desktop/order_products__prior_0.50.txt', df_final.sample(frac=0.50, random_state=1).values, fmt = "%s")